body {
  /* background-color:  #ebf5fb; */
  background-color: #21618c;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.main-div {
  margin-top: 13px;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  width: 400px;
  height: auto;
  color: white;
  color: black;
  /* background-color:  #ebf5fb; */
  background-color: #ebf5fb;
}

.image {
  padding-top: 5px;
  height: 160px;
  width: 120px;
}
